h4{
    text-align: center;
    color: rgb(184, 12, 12);
}
body
{

    background-color: rgb(66, 183, 183);
}
fieldset{
    width: 350px;
    height: 200px;
    background-color: rgba(199, 177, 195, 0.94);
  border-color: black;
  border: solid;
  margin-top: 50px;  
  margin-left: 420px;
 
}
form{
    margin-top: 50px;


}
a{
    text-decoration: none;
}
p{
    color: brown;
}
button{
    margin-right: 40px;
    color: darkgoldenrod;
    text-align: center;
}
h4{
   
    font-family: initial;
    font-size: larger;
    
}

